/*------------*/
/* Typography */
/*------------*/

@font-face {
  font-display: fallback;
  font-family: "Ano";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ano_regular.ttf") format("truetype"),
       url("../fonts/ano_regular.woff") format("woff"),
       url("../fonts/ano_regular.woff2") format("woff2");
}

@font-face {
  font-display: fallback;
  font-family: "Windsor";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/windsor_regular.ttf") format("truetype"),
       url("../fonts/windsor_regular.woff") format("woff"),
       url("../fonts/windsor_regular.woff2") format("woff2");
}

.ano {
  font-family: "Ano", sans-serif;
}

.windsor {
  font-family: "Windsor", sans-serif;
}

.lh-tight-copy {
  line-height: 1.5;
}

.lh-copy {
  line-height: 2;
}

@media (--breakpoint-not-small) {
  .lh-tight-copy-ns  {
    line-height: 1.5;
  }

  .lh-copy-ns  {
    line-height: 2;
  }
}

@media (--breakpoint-medium) {
  .lh-tight-copy-m  {
    line-height: 1.5;
  }

  .lh-copy-m  {
    line-height: 2;
  }
}

@media (--breakpoint-large) {
  .lh-tight-copy-l  {
    line-height: 1.5;
  }

  .lh-copy-l  {
    line-height: 2;
  }
}
