/* =========================================================================
   Global
   ========================================================================= */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #000;
  background-image: url(/assets/images/stars.gif);
  cursor: url(/assets/images/mouse.png), auto;
}

main {
  width: calc(100% - var(--space-4));
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
}

a, button, summary {
  cursor: url(/assets/images/hand.png), auto;
}
