<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% include head %}
    </head>
    <body class="ano f5 theme-indigo complement-gray bg-tan">
        <main style="overflow-x: hidden;">
            {{ content }}
        </main>
        {% include footer %}
    </body>
</html>
