<footer class="bg-light-paper py-12 px-4">

  <div class="max-w-[900px] m-auto">
    <h2 class="text-[clamp(1rem,_10vw,_5rem)] text-center">{{ en.event.footer.title }}</h2>
    <p class="text-base md:text-2xl text-center mt-4">
      <em>{{ en.event.footer.description }}</em>
    </p>

    <nav class="mt-8">
      <h6 class="text-center mt-12">{{ en.event.footer.webring_all_sites }}</h6>
      <ol class="flex flex-wrap justify-center items-center text-center">
        <li class="p-2">
          <a href="https://2014.barcampomaha.org" target="_blank">OMA 2014</a>
        </li>
        <li class="p-2">
          <a href="https://2015.barcampomaha.org" target="_blank">OMA 2015</a>
        </li>
        <li class="p-2">
          <a href="https://2016.barcampomaha.org" target="_blank">OMA 2016</a>
        </li>
        <li class="p-2">
          <a href="https://2017.barcampomaha.org" target="_blank">OMA 2017</a>
        </li>
        <li class="p-2">
          <a href="https://2018.barcampomaha.org" target="_blank">OMA 2018</a>
        </li>
        <li class="p-2">
          <a href="https://2019.barcampomaha.org" target="_blank">OMA 2019</a>
        </li>
        <li class="p-2">
          <a href="https://2022.barcampomaha.org" target="_blank">OMA 2022</a>
        </li>
        <li class="p-2">
          <a href="https://2024.barcampomaha.org" target="_blank">OMA 2024</a>
        </li>
        <li class="p-2 underline">
          SPSW 2024
        </li>
      </ol>
    </nav>

    <ul class="flex gap-8 justify-center mt-8">
      <li>BarCamp Events:</li>
      <li>
        <a href="https://discord.com/invite/ykGp4NBBSM" target="_blank">Discord</a>
      </li>
      <li>
        <a href="https://www.facebook.com/BarCampEvents/" target="_blank">Facebook</a>
      </li>
      <li>
        <a href="https://bsky.app/profile/barcamp.events" target="_blank">Bluesky</a>
      </li>
      <li>
        <a href="https://www.instagram.com/barcampevents/" target="_blank">Instagram</a>
      </li>
    </ul>
  </div>
</footer>