<nav class="hero-bg sticky top-0 z-10 bg-dark-paper flex justify-center gap-8 p-4">
  <a class="text-base md:text-lg font-black text-[#3C5FB0] bg-white px-8 py-4 rounded" href="https://opencollective.com/barcamp-omaha/events/barcamp-silicon-prairie-c2e9259d/order/78926" target="_blank" rel="noopener">RSVP</a>
</nav>