{%- from "../macros/sponsor.njk" import sponsor -%}

<section class="bg-[#FBFAF9] py-12 px-4">

  <h3 class="text-center text-2xl text-[#3C5FB0] font-black uppercase">BarCamp Silicon Prairie is Organized by</h3>

  <a href="https://unabridgedsoftware.com" target="_blank">
    <img src="assets/images/sponsors/unabridged.svg" class="w-full max-w-xl m-auto h-auto my-12" width="970" height="181"/>
  </a>
</section>