<section class="py-12 px-4 flex flex-wrap flex-col lg:flex-row gap-8">
  <div class="flex-1 self-center">
    <h2 class="text-2xl text-[#3C5FB0]">{{ en.event.venue.title }}</h2>
    <h3 class="text-[clamp(2rem,_10vw,_4rem)] mt-4 text-[#1F1611] uppercase font-black">{{ en.event.venue.host }}</h3>
    <p class="text-base md:text-2xl mt-8">{{ en.event.venue.description | safe }}</p>
  </div>
  <div class="aspect-video flex-auto">
    {# <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3003.3436748714753!2d-96.12888032342475!3d41.170670709408945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793f108794e67bb%3A0x4002f74cdbc18cbb!2sAviture!5e0!3m2!1sen!2sus!4v1716256967016!5m2!1sen!2sus" class="h-full w-full" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> #}
    <div class="bg-gray-100 flex h-full hero-bg place-content-center place-items-center text-center py-24">
      <span class="text-8xl filter grayscale">🤫</span>
    </div>
  </div>
</section>