<section class="py-12 px-4 flex flex-wrap flex-col lg:flex-row gap-8">
  <div class="flex-1 self-center">
    <h2 class="text-2xl text-[#3C5FB0]">{{ en.event.venue.title }}</h2>
    <h3 class="text-[clamp(2rem,_10vw,_4rem)] mt-4 text-[#1F1611] uppercase font-black">{{ en.event.venue.host }}</h3>
    <p class="text-base md:text-2xl mt-8">{{ en.event.venue.address | safe }}</p>
    <p class="text-base md:text-2xl mt-8">{{ en.event.venue.description | safe }}</p>
  </div>
  <div class="aspect-video flex-auto">
    <iframe src="{{en.event.venue.embed_url}}" class="h-full w-full" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>