/* =========================================================================
   Sponsor Card
   ========================================================================= */

.sponsors {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-2) var(--space-3);
}

.sponsors--platinum {
  gap: var(--space-4);
}

.sponsor {
  display: block;
  flex: 0 1 100%;
  text-decoration: none;
}

.sponsor--platinum {
  flex-basis: 600px;
}

@media (min-width: 54rem) {
  .sponsor--platinum p {
    font-size: 1.6rem;
  }
}

.sponsor--gold {
  flex-basis: 500px;
}

.sponsor--silver {
  flex-basis: 400px;
}

.sponsor--bronze, .sponsor--recurring {
  flex-basis: 210px;
}

:is(.sponsor--bronze, .sponsor--recurring) p {
  font-size: 1.1rem;
}

.sponsor__content {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 3.5;
  width: 100%;
}

:is(.sponsor--bronze, .sponsor--recurring) .sponsor__content {
  aspect-ratio: 2;
}

.sponsor__image {
  height: 100%;
  filter: invert(100%);
  object-fit: contain;
}

a.sponsor:hover .sponsor__image {
  /*
   * Filter magic that makes the image light teal
   * Source: https://codepen.io/sosuke/pen/Pjoqqp
   */
  filter: brightness(0) saturate(100%) invert(98%) sepia(74%)
          saturate(2709%) hue-rotate(162deg) brightness(105%) contrast(105%);
}

.sponsor__name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sponsor__name-content {
  color: #fff;
  font-size: 2.4rem;;
  line-height: 1.1;
}

.sponsor p {
  line-height: 1.3;
}

a.sponsor:hover p {
  color: var(--yellow);
}
