/* Header */

.bg-graphic-purple{
  background-image: url("../images/header-button.gif");
}
.bg-graphic-purple:hover{
  background-image: url("../images/header-button-hover.gif");
}

/*
The BarCamp Logo's relative size needs to change depending on device size.
Here, we size the div that contains the img of the logo. The img will scale to
fill the div, so we just scale the div as needed.

The width percentage below (all three instances of it) is all that needs to be
changed to scale the logo. The 0.21 value below represents the aspect ratio of 
the image, and it should _not_ be changed as you scale the width.
*/
.barcamp-logo{
  width: 71%;

  /* Center the logo: */
  margin-top:       calc(71% * -0.21);
  margin-left: calc(calc(71% / -2) + 8%);

  top: 50%;
  left: 50%;

  transition-delay: 780ms;
  transition-duration: 600ms;
}
.js-initial.barcamp-logo{
  top: -11%;
  left: 101%;
}

/* Quadrant 1 */

.bg-hand-top{
  top: -4%;
  transition-delay: 400ms;
}
.js-initial.bg-hand-top{
  top: -62%;
}

.bg-leaves-top{
  top: -30%;
  left: 36%;
}
.js-initial.bg-leaves-top{
  top: -62%;
}

.bg-planet{
  top: 47%; 
  left: 8%;
  transition-duration: 800ms;
  transition-delay: 800ms;
}
.js-initial.bg-planet{
  top: 200%;
}

.bg-planet-stars{
  top: 47%; 
  left: 8%;
  transition-duration: 800ms;
  transition-delay: 800ms;
}
.js-initial.bg-planet-stars{
  top: 200%;
}

.bg-blob-top{
  top: 5%; 
  left: 26%;
}
.js-initial.bg-blob-top{
/*           top: -62%; */
}

/* Quadrant 2 */

.bg-hand-right{
  top: -16%; 
  right: -15%;
  transition-delay: 800ms;
  transition-duration: 600ms;
}
.js-initial.bg-hand-right{
  top: -95%;
  right: -95%;
}

.bg-diamond-top{
  top: -4%; 
  right: 40%;
  transition-delay: 1300ms;
  transition-duration: 100ms;
}
.js-initial.bg-diamond-top{
  top: -12%;
}

.bg-ripple-right{
  top: 30%;
  transition-delay: 1300ms;
}
.js-initial.bg-ripple-right{
  right: -30%;
}

.bg-blob-right{
  top: 40%;
  transition-delay: 100ms;
}
.js-initial.bg-blob-right{
/*           right: -30%; */
}

/* Quadrant 3 */

.bg-hand-bottom{
  bottom: -7%; 
  left: 17%;
  transition-delay: 400ms;
  transition-duration: 450ms;
}
.js-initial.bg-hand-bottom{
  bottom: -65%;
}

.bg-hand-stars{
  bottom: 4.5%; 
  left: 23%;
  transition-delay: 400ms;
  transition-duration: 450ms;
}
.js-initial.bg-hand-stars{
  bottom: -65%;
}

.bg-ripple-left{
  bottom: 15%; 
  left: 12%;
  transition-delay: 800ms;
}
.js-initial.bg-ripple-left{
  left: -50%;
}

.bg-diamond-bottom{
  bottom: 2%; 
  left: 49%;
  transition-delay: 1500ms;
  transition-duration: 200ms;
}
.js-initial.bg-diamond-bottom{
  bottom: -20%;
}

.bg-switch{
  bottom: 13%; 
  left: 65%;
}
.js-initial.bg-switch{
  bottom: -55%;
}

.bg-blob-bottom{
  left: 30%;
  transition-delay: 200ms;
}
.js-initial.bg-blob-bottom{
/*           left: -40%; */
}

.js-initial.bg-leaves-left{
  left: -30%;
}

/* Quadrant 4 */

.bg-phone{
  bottom: 15%; 
  right: 54%;
  transition-delay: 400ms;
}
.js-initial.bg-phone{
  bottom: -47%;
}

.bg-arrow{
  bottom: 65%; 
  right: 25%;
  transition-delay: 800ms;
}
.js-initial.bg-arrow{
  bottom: -9%;
  right: -4%;
}

.bg-blob-under-phone{
  bottom: 14%; 
  right: 49%;
}
.js-initial.bg-blob-under-phone{
/*           bottom: -40%; */
}

.js-initial.bg-leaves-right{
  right: -60%;
}

/* Schedule */

.bg-schedule{
  background-image: url('../images/_prog-schedule-plants.gif');
}

/* Questions */

.bg-girl-laying{
  top: -155px;
  left: 0;
}
.bg-girl-stars{
  top: -43px;
  left: 11px;
}
.bg-floating-pages{
  top: 40px;
  left: 290px;
}
.bg-moon{
  top: 15px;
  right: 0;
}
.bg-moon-stars{
  right: -50px;
  top: -30px;
}
.bg-questions-ripple{
  bottom: -190px;
  right: -110px;
}
.bg-questions-diamond{
  bottom: 160px;
  right: 0;
}