body, p{
  font-family: "ministry", sans-serif;
  font-weight: 300;
}

p, li{
  line-height: 1.6;
}

a{
  color: var(--purple);
}
a:hover{
  color: var(--light-purple);
}
a,
a:hover,
a:focus {
  transition: color .15s ease-in-out;
}