.right-3  { right:  3rem; }

@media (--breakpoint-not-small) {
  .right-3-ns  { right:  3rem; }
}

@media (--breakpoint-medium) {
  .right-3-m  { right:  3rem; }
}

@media (--breakpoint-large) {
  .right-3-l  { right:  3rem; }
}
