---
layout: default
title: BarCamp Omaha 2019
---

<header class="main-header flex items-center justify-center vh-50 vh-75-ns vh-100-l">
  <h1 class="ma0 dark-tan f1 f-subheadline-ns f-headline-l ttu">BarCamp</h1>
</header>

{% section "bg-light-tan" %}
  {% smallcontainer %}

    {% largeh2 %}
      BarCamp is an Unconference
    {% endlargeh2 %}

    {% paragraph %}
      BarCamp Omaha is a user generated conference where the speakers are everyday folks talking about what interests them. Talks aren&rsquo;t scheduled or planned until just before the conference starts, and anyone can give a talk. Curious, but don&rsquo;t want to take the stage? That’s okay too.
    {% endparagraph %}

    {% paragraph %}
      At BarCamp, you won&rsquo;t find a predetermined speaker list or a line of suits passing out business cards. What you will find is some shaggy dude in a t-shirt talking about moonshine, a web developer talking about the best practices in SEO, or a world traveler sharing their experiences. BarCamp is a chance to network, learn something new, and share what awakens your curiosity. Come one, come all.
    {% endparagraph %}

  {% endsmallcontainer %}
{% endsection %}

<div class="bracelet-right"></div>

{% section "bg-tan" %}
  {% smallcontainer "flex flex-wrap flex-nowrap-ns" %}
    <div class="flex flex-grow-1 items-center justify-center w-100 pa4">
      <div>
        <h3 class="mt0 mb2 windsor f2 f1-m">Kaneko</h3>
        <address class="brown fs-normal lh-tight-copy">
          1111 Jones St<br>
          Omaha, NE 68102
        </address>
      </div>
    </div>
    <div class="flex flex-grow-1 items-center justify-center w-100 pa4 bg-yellow">
      <h3 class="tan windsor f2 f1-m">Map</h3>
    </div>
  </div>
{% endsection %}

<div class="bracelet-left"></div>

{% section "bg-light-tan" %}
  {% smallcontainer %}
    {% h2 %}
      The Tracks
    {% endh2 %}

    {% paragraph %}
      Pick from the tracks below to give your talk. All topics and folk are welcome, but please follow our Code of Conduct.
    {% endparagraph %}
  {% endsmallcontainer %}

  <div class="w-100 mw9 flex flex-wrap pt4 pt4-l ph1 ph3-l">

    {% track %}
      <h3 class="ma0 pa2 pt6 bg-yellow windsor f3 f2-l">Maker</h3>
      {% paragraph %}
        Churn, MRR, fundraising, or even the lemonade stand you ran when you were a kid are all fair game. This is a great place to talk about ways to build epic things and/or getting dat paper.
      {% endparagraph %}
    {% endtrack %}

    {% track %}
      <h3 class="ma0 pa2 pt6 bg-yellow windsor f3 f2-l">Creative</h3>
      {% paragraph %}
        Designing letterpress invitations, photo blogging your world travels or rebranding a product? This is the track for you to share your creative accomplishments and valuable lessons.
      {% endparagraph %}
    {% endtrack %}

    {% track %}
      <h3 class="ma0 pa2 pt6 bg-yellow windsor f3 f2-l">Technology</h3>
      {% paragraph %}
        Building React apps in your free time? Designed an ETL pipeline? Hacked together a Raspberry Pi temperature sensor? Come talk about the hardware and software that you get excited about.
      {% endparagraph %}
    {% endtrack %}

    {% track %}
      <h3 class="ma0 pa2 pt6 bg-yellow windsor f3 f2-l">Kitchen Sink</h3>
      {% paragraph %}
        Psst. I hear you made some moonshine. This track is for all those passions that don&rsquo;t quite fit the mold. Mastering juggling, urban planning in your free time and organizing your closet are all welcome topics here!
      {% endparagraph %}
    {% endtrack %}

  </div>
{% endsection %}

<div class="bracelet-right"></div>

{% section "bg-tan" %}
  {% smallcontainer %}
    {% h2 %}
      The Agenda
    {% endh2 %}

    {% paragraph %}
      Acme automates your subscription revenue and customer reporting. Just connect your data and Acme will calculate and visualize your most important metrics.
    {% endparagraph %}

    {% schedule %}
      {% scheduleday 1 %}

      {% scheduledetails %}
        {% scheduledate "Friday, August 25th" %}

        {% scheduletime %}
          7PM | Opening Party <span class="ttn">at Alamo Drafthouse!</span>
        {% endscheduletime %}

        {% paragraph %}
          Get excited about BarCamp the night before at our opening party! Buying a BarCamp ticket also entitles you to a free drink ticket. Not to mention, the fantastic Justin Limoges is bringing his sweet photo booth!
        {% endparagraph %}
      {% endscheduledetails %}
    {% endschedule %}

    {% schedule %}
      {% scheduleday 2 %}

      {% scheduledetails %}
        {% scheduledate "Saturday, August 26th" %}

        {% scheduletime %}
          8AM | Coffee / Sign Up
        {% endscheduletime %}
        {% paragraph %}
          Grab some snacks and coffee, sign up for a talk, and start the day getting to know your fellow BarCampers.
        {% endparagraph %}

        {% scheduletime %}
          9AM | Morning Talks Begin
        {% endscheduletime %}
        {% paragraph %}
          We&rsquo;ll start out the first round of talks promptly at 9am, so make sure you&rsquo;re all settled in and ready to learn!
        {% endparagraph %}

        {% scheduletime %}
          12PM | Lunch & Networking
        {% endscheduletime %}
        {% paragraph %}
          Hang out with your new BarCamp friends and enjoy a delicious lunch.
        {% endparagraph %}

        {% scheduletime %}
          1PM | Afternoon Talks Begin
        {% endscheduletime %}
        {% paragraph %}
          At 1 PM, we&rsquo;ll reconvene for our afternoon session of talks!
        {% endparagraph %}

        {% scheduletime %}
          5PM | Closing
        {% endscheduletime %}
        {% paragraph %}
          Say your goodbyes, collect addresses for your new pen pals, and start looking forward to next year. Don&rsquo;t forget to pick up your free t-shirt (sponsored by Agape Red) and other BarCamp memorabilia from the merch table!
        {% endparagraph %}
      {% endscheduledetails %}
    {% endschedule %}
  {% endsmallcontainer %}
{% endsection %}

<div class="bracelet-left"></div>

{% section "bg-light-tan" %}
  <div class="w-100 mw7 ph3 ph5-l">
    {% h2 %}
      FAQ&rsquo;s
    {% endh2 %}

    {% paragraph %}
      This website is operated by the Design Files. Throughout the site, the terms “we”, “us” and “our” refer to the Design Files. The Design Files offers this website, including all information, tools, and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies, and notices stated here.
    {% endparagraph %}
  </div>
{% endsection %}

<div class="bracelet-right"></div>

{% section "bg-tan" %}
  <div class="w-100 mw9 ph3 ph5-l">
    {% h2 "tc" %}
      Our Sponsors
    {% endh2 %}
  </div>
{% endsection %}
