---
layout: default
title: BarCamp Omaha 2019
---

<header class="main-header flex flex-column items-center justify-center vh-50 vh-75-ns vh-100-l">
  <div class="w-100 ph3 tc nt6">
    <h1 class="fs-massive vacation dark-tan ttu ma0 relative z-1">
      <stellar-animate-text method="retro" phrase duration="700" only-in>BarCamp</stellar-animate-text>
    </h1>
    <h2 class="center mv4 f3 f2-ns f1-l windsor dark-tan relative z-2">
      <stellar-animate-text delay="2400" phrase>Hosted at KANEKO</stellar-animate-text>
    </h2>
    <h3 class="center ma0 f5 f4-ns f3-l windsor dark-tan relative z-2">
      <stellar-animate-text delay="2800" phrase>Saturday, November 9th, 2019</stellar-animate-text>
      <br />
      <br />
      <stellar-animate-text delay="3200" phrase>9AM &ndash; 5PM</stellar-animate-text>
    </h3>
  </div>
  <web-audio-visualizer for="numbers" type="bars" size="32" class="absolute bottom-0 left-0 right-0 w-100 h-100" style="mix-blend-mode: multiply; width: 97%;clip-path: polygon(3% 0, 100% 0, 100% 100%, 3% 100%);" ></web-audio-visualizer>
</header>

<stellar-button tag="button" class="vacation fs1 fixed bottom-1 right-1 dark-tan" size="large" ghost onclick="play()" style="mix-blend-mode: difference;z-index: 9999;--font-size: 4rem;">11</stellar-button>

<stellar-layout class="bg-light-tan relative" id="about" size="small" padding="large">
  <copy-wrap class="clearfix">
    <h2 class="windsor">BarCamp is an Unconference</h2>
    <p class="mw-100 brown lh-copy">BarCamp Omaha is a user generated conference where the speakers are everyday folks talking about what interests them. Talks aren&rsquo;t scheduled or planned until just before the conference starts, and anyone can give a talk. Curious, but don&rsquo;t want to take the stage? That&rsquo;s okay, too.</p>
    <p class="mw-100 mb4 brown lh-copy">At BarCamp, you won&rsquo;t find a predetermined speaker list or a line of suits passing out business cards. What you will find is some shaggy dude in a t-shirt talking about moonshine, a web developer talking about the best practices in SEO, or a world traveler sharing their experiences. BarCamp is a chance to network, learn something new, and share what awakens your curiosity. Come one, come all.</p>
    <stellar-button href="https://www.eventbrite.com/e/barcamp-omaha-2019-tickets-66366823957" target="_blank" padding="large" class="s-right-arrow fr" style="--padding: 1rem 2rem 1rem 1rem">Buy Tickets</stellar-button>
  </copy-wrap>
</stellar-layout>

<div class="bracelet-right z-2"></div>

<stellar-layout class="bg-tan" id="venue" size="large" padding="large">
  <stellar-grid class="items-center" style="--grid-gap: 4rem;--grid-width: 300px;">
    <copy-wrap>
      <h4 class="windsor brown">The Venue</h4>
      <h3 class="mt0 mb2 windsor f2 f1-m">KANEKO</h3>
      <address class="brown fs-normal lh-style="--padding-underneath: 4rem;"-copy mb4">
        1111 Jones St<br>
        Omaha, NE 68102
      </address>

      <p class="brown lh-copy">We&rsquo;ve hosted BarCamp at Kaneko since 2014. Why? Kaneko is everything BarCamp intends to be - full of local art, activity, community, and good conversation. Kaneko are a Platinum sponsor of BarCamp Omaha. Thank you to the Kaneko crew for helping make the Omaha community strong!</p>
    </copy-wrap>

    <div class="flex items-center justify-center bg-gold">
      <iframe class="map" width="640" height="640" id="gmap_canvas" src="https://maps.google.com/maps?q=kaneko&t=&z=16&ie=UTF8&iwloc=&output=embed&maptype=satellite" allowfullscreen frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
  </stellar-grid>
</stellar-layout>

<div class="bracelet-left z-2"></div>

<stellar-layout class="bg-light-tan" id="tracks" size="full" padding="large">
  <stellar-layout size="small" padding="none">
    <copy-wrap align="center">
      <h3 class="mt0 mb2 windsor f2 f1-m">The Tracks</h3>
      <p class="brown lh-copy">Pick from the tracks below to give your talk. All topics and folk are welcome, but please follow our <a href="https://github.com/barcamp-events/documents/blob/master/CODE_OF_CONDUCT.md" target="_blank">Code of Conduct</a>.</p>
    </copy-wrap>
  </stellar-layout>
  <stellar-layout size="full" padding="none">
    <stellar-grid style="--grid-gap: 1rem;--grid-width: 320px;">
      <stellar-card padding="none">
        <header class="pa0 relative overflow-hidden">
          <img src="https://placehold.it/1600x800/f7f0e7/323232" class="db" />
          <h3 class="ma0 pa0 windsor f4 f3-l absolute bottom-1 left-1 z-4"><stellar-animate-text method="jump">Maker</stellar-animate-text></h3>
        </header>
        <section class="pa3">
          <p class="f6 lh-copy mw-100">Churn, MRR, fundraising, or even the lemonade stand you ran when you were a kid are all fair game. This is a great place to talk about ways to build epic things and/or getting dat paper.</p>
        </section>
      </stellar-card>

      <stellar-card padding="none">
        <header class="pa0 relative">
          <img src="https://placehold.it/1600x800/f7f0e7/323232" class="db" />
          <h3 class="ma0 pa0 windsor f4 f3-l absolute bottom-1 left-1"><stellar-animate-text method="jump">Creative</stellar-animate-text></h3>
        </header>
        <section class="pa3">
          <p class="f6 lh-copy mw-100">Designing letterpress invitations, photo blogging your world travels or rebranding a product? This is the track for you to share your creative accomplishments and valuable lessons.</p>
        </section>
      </stellar-card>

      <stellar-card padding="none">
        <header class="pa0 relative">
          <img src="https://placehold.it/1600x800/f7f0e7/323232" class="db" />
          <h3 class="ma0 pa0 windsor f4 f3-l absolute bottom-1 left-1"><stellar-animate-text method="jump">Technology</stellar-animate-text></h3>
        </header>
        <section class="pa3">
          <p class="f6 lh-copy mw-100">Building React apps in your free time? Designed an ETL pipeline? Hacked together a Raspberry Pi temperature sensor? Come talk about the hardware and software that you get excited about.</p>
        </section>
      </stellar-card>

      <stellar-card padding="none">
        <header class="pa0 relative">
          <img src="https://placehold.it/1600x800/f7f0e7/323232" class="db" />
          <h3 class="ma0 pa0 windsor f4 f3-l absolute bottom-1 left-1"><stellar-animate-text method="jump">Kitchen Sink</stellar-animate-text></h3>
        </header>
        <section class="pa3">
          <p class="f6 lh-copy mw-100">Psst. I hear you made some moonshine. This track is for all those passions that don&rsquo;t quite fit the mold. Mastering juggling, urban planning in your free time and organizing your closet are all welcome topics here!</p>
        </section>
      </stellar-card>
    </stellar-grid>
  </stellar-layout>
</stellar-layout>

<div class="bracelet-right z-2"></div>

<stellar-layout class="bg-tan pv4 pv5-l" id="agenda" size="small">
  <copy-wrap align="center">
    <h2 class="windsor mt0 mb2 f2 f1-m">The Agenda</h2>
    <p class="brown lh-copy">We may not know what the talks will be yet, but we do have a general schedule of events!</p>
  </copy-wrap>

  {% schedule %}
      {% scheduleday 1 %}

      {% scheduledetails %}
        {% scheduledate "Friday, November 8th" %}

        {% h3 "ttu" %}
          7PM | Opening Party <span class="ttn">at TBD!</span>
        {% endh3 %}

        <p class="brown lh-copy f6 mt0">
          Get excited about BarCamp the night before at our opening party! Buying a BarCamp ticket also entitles you to a free drink ticket.
        </p>
      {% endscheduledetails %}
    {% endschedule %}

    {% schedule %}
      {% scheduleday 2 %}

      {% scheduledetails %}
        {% scheduledate "Saturday, November 9th" %}

        {% h3 "ttu" %}
          8AM | Coffee / Sign Up
        {% endh3 %}
        <p class="brown lh-copy f6 mt0">
          Grab some snacks and coffee, sign up for a talk, and start the day getting to know your fellow BarCampers.
        </p>

        {% h3 "ttu mt4" %}
          9AM | Morning Talks Begin
        {% endh3 %}
        <p class="brown lh-copy f6 mt0">
          We&rsquo;ll start out the first round of talks promptly at 9am, so make sure you&rsquo;re all settled in and ready to learn!
        </p>

        {% h3 "ttu mt4" %}
          12PM | Lunch & Networking
        {% endh3 %}
        <p class="brown lh-copy f6 mt0">
          Hang out with your new BarCamp friends and enjoy a delicious lunch.
        </p>

        {% h3 "ttu mt4" %}
          1PM | Afternoon Talks Begin
        {% endh3 %}
        <p class="brown lh-copy f6 mt0">
          At 1 PM, we&rsquo;ll reconvene for our afternoon session of talks!
        </p>

        {% h3 "ttu mt4" %}
          5PM | Closing
        {% endh3 %}
        <p class="brown lh-copy f6 mt0">
          Say your goodbyes, collect addresses for your new pen pals, and start looking forward to next year. Don&rsquo;t forget to pick up your free t-shirt (sponsored TBD), friendship bracelet (sponsored by Bergman Incentives), and other BarCamp memorabilia from the merch table!
        </p>
      {% endscheduledetails %}
    {% endschedule %}
</stellar-layout>

<div class="bracelet-left z-2"></div>

<stellar-layout class="bg-light-tan" id="faqs" size="small" padding="large">
  <copy-wrap>
    {% h2 %}
      FAQ&rsquo;s
    {% endh2 %}

    {% paragraph "f4-m" %}
      Got questions? We&rsquo;ve got answers!
    </p>

    <stellar-accordion style="--padding-underneath: 4rem;">
      <h6 class="windsor black pa0 ma0 fs7" slot="label">What am I paying $20 for?</h6>
      <p class="brown f6 lh-copy ma0 pa0 mw-100">
        Opening party / drink ticket, breakfast, soda & snacks, lunch, BarCamp t-shirt, friendship bracelet, good times / new friends (which is sorta priceless&hellip;)
      </p>
    </stellar-accordion>

    <stellar-accordion style="--padding-underneath: 4rem;">
      <h6 class="windsor black pa0 ma0 fs7" slot="label">How long are the talks?</h6>
      <p class="brown f6 lh-copy ma0 pa0 mw-100">
      Each talk runs for 23 minutes. Speakers are allowed to use that time however they wish&mdash;you can even share a time slot with multiple people or set up a panel discussion, allowing time for Q&amp;A at the end. The last 7 minutes of every half-hour slot is reserved for transition time between talks.
    </p>
    </stellar-accordion>

    <stellar-accordion style="--padding-underneath: 4rem;">
      <h6 class="windsor black pa0 ma0 fs7" slot="label">Can I give a sales presentation?</h6>
      <p class="brown f6 lh-copy ma0 pa0 mw-100">
        Nope! To be respectful of our BarCamp community, sales presentations or pitches are not allowed. Don’t even try it, folks.
      </p>
    </stellar-accordion>

    <stellar-accordion style="--padding-underneath: 4rem;">
      <h6 class="windsor black pa0 ma0 fs7" slot="label">When do I get my BarCamp t-shirt?</h6>
      <p class="brown f6 lh-copy ma0 pa0 mw-100">
        Tees and friendship bracelets will be available on the day of BarCamp at the merch table. Though we try to purchase enough of each t-shirt size, we recommend picking your shirt up early in the morning just in case.
      </p>
    </stellar-accordion>

    <stellar-accordion style="--padding-underneath: 4rem;">
      <h6 class="windsor black pa0 ma0 fs7" slot="label">What should I bring?</h6>
      <p class="brown f6 lh-copy ma0 pa0 mw-100">
        Something to share with all of your new friends&hellip;a business card perhaps? We encourage you to bring a notebook for notes. If you&rsquo;ve planned a talk with presentation slides, bring your laptop or an external drive with your files. And bring all your friends, because BarCamp is all about friendship this year!
      </p>
    </stellar-accordion>

    <stellar-accordion style="--padding-underneath: 4rem;">
      <h6 class="windsor black pa0 ma0 fs7" slot="label">What if I have a food allergy?</h6>
      <p class="brown f6 lh-copy ma0 pa0 mw-100">
        No sweat! We make sure everyone is included. If you have specific food allergies or restrictions, contact Will at <a href="mailto:will@splitinfinities.com">will@splitinfinities.com</a> and we&rsquo;ll take care of you. Each year we work with our caterer to provide vegetarian, vegan and gluten free options.
      </p>
    </stellar-accordion>

  </copy-wrap>
</stellar-layout>

<div class="bracelet-right z-2"></div>

<stellar-layout class="bg-tan relative" id="sponsors" size="large" padding="large">
    <copy-wrap align="center">
      <h2 class="windsor mt0 mb2 f2 f1-m">Our Sponsors</h2>
      <p class="brown lh-copy">There's no way an event like BarCamp Omaha could happen every year at the quality it deserves to be for our commiunity. The following folks helped put BarCamp Omaha 2019 on. Please thank them!</p>
    </copy-wrap>

  <div class="relative clearfix z-1">
    <h6 class="windsor ma0 pa0 tc center mb3">Platinum</h4>
    <stellar-grid class="items-center" style="--grid-width: 350px;">
      {% for sponsor in collections.platinum %}
        {% assign level = "platinum" %}
        {% assign spacing = "mv2 ph2 ph4-l" %}
        {% include sponsor.liquid %}
      {% endfor %}
    </stellar-grid>

    <hr />

    <h6 class="windsor ma0 pa0 tc center mb3">Gold</h4>
    <stellar-grid class="items-center">
      {% for sponsor in collections.gold %}
        {% assign level = "gold" %}
        {% assign spacing = "mv2 ph2 ph4-l" %}
        {% include sponsor.liquid %}
      {% endfor %}
    </stellar-grid>

    <hr />

    <h6 class="windsor ma0 pa0 tc center mb3">Silver</h4>
    <stellar-grid class="items-center">
      {% for sponsor in collections.silver %}
        {% assign level = "silver" %}
        {% assign spacing = "mw5 mv2 ph2 ph3-l" %}
        {% include sponsor.liquid %}
      {% endfor %}
    </stellar-grid>

    <hr />

    <h6 class="windsor ma0 pa0 tc center mb3">Bronze</h4>
    <stellar-grid class="items-center">
      {% for sponsor in collections.bronze %}
        {% assign level = "bronze" %}
        {% assign spacing = "mw5 mv2 ph2 ph3-l" %}
        {% include sponsor.liquid %}
      {% endfor %}
    </stellar-grid>

    <hr />

    <h6 class="windsor ma0 pa0 tc center mb3">Carbon</h6>
    <stellar-grid class="items-center">
      {% for sponsor in collections.carbon %}
        {% assign level = "carbon" %}
        {% assign spacing = "mv2 ph2" %}
        {% include sponsor.liquid %}
      {% endfor %}
    </stellar-grid>


    <stellar-button href="https://opencollective.com/barcamp-events/contribute" target="_blank" class="s-right-arrow fr mt4" style="--padding: 1rem 2rem 1rem 1rem;">Sponsor</stellar-button>
  </div>

  <web-audio-visualizer for="numbers" type="wave" size="128" smoothing="1" class="absolute bottom-0 z-0 left-0 right-0" style="mix-blend-mode: overlay; width: 97%;clip-path: polygon(3% 0, 100% 0, 100% 100%, 3% 100%);filter: invert(1);" ></web-audio-visualizer>
</stellar-layout>

<web-audio name="numbers">
  <web-audio-source src="./assets/audio/number-count.mp3?2" name="numbers-song" effectsvolume="20"></web-audio-source>
</web-audio>

<web-audio-sequencer name="sequence" tempo="155" taps="300"></web-audio-sequencer>

<script>
  const play = async () => {
    const body = await document.querySelector('body');
    const webAudio = await document.querySelector('web-audio');
    const sequencer = await document.querySelector('web-audio-sequencer');
    const song = await webAudio.source('numbers-song');

    sequencer.custom = async function (a,b,c) {
      if (this.currentTap === 0) {
        await song.play();
      }

      if (this.currentTap >= 36 && this.currentTap <= 280) {
        if (this.currentTap % 16 === 0) {
          body.classList.add('kick')
        }

        if (this.currentTap % 8 === 0 && this.currentTap % 16 !== 0) {
          body.classList.add('snare')
        }

        if (this.currentTap % 12 === 0) {
          body.classList.add('offbeat')
        }

        if (this.currentTap % 4 === 3) {
          body.classList.remove('kick')
          body.classList.remove('snare')
          body.classList.remove('offbeat')
        }
      }
    }

    await sequencer.play();
  }

  var easter_egg = new Konami(function() { play(); });
</script>

<style>
  h1, h2, h3, h4, .sponsor-wrap {
    transform-origin: 50% 50%;
    transition: transform 50ms ease-in-out 0s;
  }

  .kick h1, .kick h3, .kick .sponsor-wrap:nth-of-type(3n+1) {
    transform: scale(1.01) rotate(-1deg);
  }

  .snare h1, .snare h3, .snare .sponsor-wrap:nth-of-type(3n+2) {
    transform: scale(0.99) rotate(1deg);
  }

  .sponsor-wrap:nth-of-type(3n+3) {
    transform: scale(1.01);
  }

  .offbeat .sponsor-wrap:nth-of-type(3n+3) {
    transform: scale(0.98);
  }

  .kick h2, .kick h4, .kick .sponsor-wrap:nth-of-type(3n+1) {
    transform: scale(0.98) rotate(1deg);
  }

  .snare h2, .snare h4, .snare .sponsor-wrap:nth-of-type(3n+2) {
    transform: scale(1.02) rotate(-1deg);
  }
</style>
