---
layout: default
title: BarCamp Omaha 2019
---

<header class="main-header flex flex-wrap items-center justify-center vh-50 vh-75-ns vh-100-l">
  <div class="w-100 ph3 tc">
    <svg class="w-100 mw7">
      <title>BarCamp</title>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/sprite.svg#logo"></use>
    </svg>
    <h2 class="mt4 mb0 f3 f2-ns f1-l windsor dark-tan">
      KANEKO
    </h2>
    <h3 class="ma0 f4 f3-ns f2-l windsor dark-tan">
      Saturday, November 9th, 2019<br>
      9AM &ndash; 5PM
    </h3>
  </div>
</header>

<section class="flex justify-center pt4 pb5 pt5-l pb6-l bg-light-tan">
  {% smallcontainer %}

    {% largeh2 %}
      BarCamp is an Unconference
    {% endlargeh2 %}

    {% paragraph "f4-m" %}
      BarCamp Omaha is a user generated conference where the speakers are everyday folks talking about what interests them. Talks aren&rsquo;t scheduled or planned until just before the conference starts, and anyone can give a talk. Curious, but don&rsquo;t want to take the stage? That&rsquo;s okay, too.
    {% endparagraph %}

    {% paragraph "f4-m" %}
      At BarCamp, you won&rsquo;t find a predetermined speaker list or a line of suits passing out business cards. What you will find is some shaggy dude in a t-shirt talking about moonshine, a web developer talking about the best practices in SEO, or a world traveler sharing their experiences. BarCamp is a chance to network, learn something new, and share what awakens your curiosity. Come one, come all.
    {% endparagraph %}

    {% ctabutton "text": "Buy Tickets", "href": "https://www.eventbrite.com/e/barcamp-omaha-2019-tickets-66366823957", "newtab": "true" %}

  {% endsmallcontainer %}
{% endsection %}

<div class="bracelet-right"></div>

{% section "bg-tan" %}
  {% smallcontainer "flex flex-wrap flex-nowrap-ns" %}
    <div class="flex flex-grow-1 items-center justify-center w-100 pb4 ph4 pt4-ns">
      <div>
        <h3 class="mt0 mb2 windsor f2 f1-m">KANEKO</h3>
        <address class="brown fs-normal lh-tight-copy">
          1111 Jones St<br>
          Omaha, NE 68102
        </address>
      </div>
    </div>
    <div class="flex flex-grow-1 items-center justify-center w-100 pa4 bg-yellow">
      <h3 class="tan windsor f2 f1-m">Map</h3>
    </div>
  </div>
{% endsection %}

<div class="bracelet-left"></div>

{% section "bg-light-tan" %}
  {% smallcontainer %}
    {% h2 %}
      The Tracks
    {% endh2 %}

    {% paragraph "f4-m" %}
      Pick from the tracks below to give your talk. All topics and folk are welcome, but please follow our <a href="https://github.com/barcamp-events/documents/blob/master/CODE_OF_CONDUCT.md" target="_blank">Code of Conduct</a>.
    {% endparagraph %}
  {% endsmallcontainer %}

  <div class="w-100 mw9 flex flex-wrap pt4 pt4-l ph1 ph3-l">

    {% track %}
      <h3 class="ma0 pa2 pt6 bg-yellow windsor f3 f2-l">Maker</h3>
      {% paragraph %}
        Churn, MRR, fundraising, or even the lemonade stand you ran when you were a kid are all fair game. This is a great place to talk about ways to build epic things and/or getting dat paper.
      {% endparagraph %}
    {% endtrack %}

    {% track %}
      <h3 class="ma0 pa2 pt6 bg-yellow windsor f3 f2-l">Creative</h3>
      {% paragraph %}
        Designing letterpress invitations, photo blogging your world travels or rebranding a product? This is the track for you to share your creative accomplishments and valuable lessons.
      {% endparagraph %}
    {% endtrack %}

    {% track %}
      <h3 class="ma0 pa2 pt6 bg-yellow windsor f3 f2-l">Technology</h3>
      {% paragraph %}
        Building React apps in your free time? Designed an ETL pipeline? Hacked together a Raspberry Pi temperature sensor? Come talk about the hardware and software that you get excited about.
      {% endparagraph %}
    {% endtrack %}

    {% track %}
      <h3 class="ma0 pa2 pt6 bg-yellow windsor f3 f2-l">Kitchen Sink</h3>
      {% paragraph %}
        Psst. I hear you made some moonshine. This track is for all those passions that don&rsquo;t quite fit the mold. Mastering juggling, urban planning in your free time and organizing your closet are all welcome topics here!
      {% endparagraph %}
    {% endtrack %}

  </div>
{% endsection %}

<div class="bracelet-right"></div>

{% section "bg-tan" %}
  {% smallcontainer %}
    {% h2 %}
      The Agenda
    {% endh2 %}

    {% paragraph "f4-m" %}
      We may not know what the talks will be yet, but we do have a general schedule of events!
    {% endparagraph %}

    {% schedule %}
      {% scheduleday 1 %}

      {% scheduledetails %}
        {% scheduledate "Friday, November 8th" %}

        {% h3 "ttu" %}
          7PM | Opening Party <span class="ttn">at TBD!</span>
        {% endh3 %}

        {% paragraph %}
          Get excited about BarCamp the night before at our opening party! Buying a BarCamp ticket also entitles you to a free drink ticket.
        {% endparagraph %}
      {% endscheduledetails %}
    {% endschedule %}

    {% schedule %}
      {% scheduleday 2 %}

      {% scheduledetails %}
        {% scheduledate "Saturday, November 9th" %}

        {% h3 "ttu" %}
          8AM | Coffee / Sign Up
        {% endh3 %}
        {% paragraph %}
          Grab some snacks and coffee, sign up for a talk, and start the day getting to know your fellow BarCampers.
        {% endparagraph %}

        {% h3 "ttu" %}
          9AM | Morning Talks Begin
        {% endh3 %}
        {% paragraph %}
          We&rsquo;ll start out the first round of talks promptly at 9am, so make sure you&rsquo;re all settled in and ready to learn!
        {% endparagraph %}

        {% h3 "ttu" %}
          12PM | Lunch & Networking
        {% endh3 %}
        {% paragraph %}
          Hang out with your new BarCamp friends and enjoy a delicious lunch.
        {% endparagraph %}

        {% h3 "ttu" %}
          1PM | Afternoon Talks Begin
        {% endh3 %}
        {% paragraph %}
          At 1 PM, we&rsquo;ll reconvene for our afternoon session of talks!
        {% endparagraph %}

        {% h3 "ttu" %}
          5PM | Closing
        {% endh3 %}
        {% paragraph %}
          Say your goodbyes, collect addresses for your new pen pals, and start looking forward to next year. Don&rsquo;t forget to pick up your free t-shirt (sponsored TBD), friendship bracelet (sponsored by Bergman Incentives), and other BarCamp memorabilia from the merch table!
        {% endparagraph %}
      {% endscheduledetails %}
    {% endschedule %}
  {% endsmallcontainer %}
{% endsection %}

<div class="bracelet-left"></div>

{% section "bg-light-tan" %}
  <div class="w-100 mw7 ph3 ph5-l">
    {% h2 %}
      FAQ&rsquo;s
    {% endh2 %}

    {% paragraph "f4-m" %}
      Got questions? We&rsquo;ve got answers!
    {% endparagraph %}

    {% h3 %}
      What am I paying $20 for?
    {% endh3 %}
    {% paragraph %}
      Opening party / drink ticket, breakfast, soda & snacks, lunch, BarCamp t-shirt, friendship bracelet, good times / new friends (which is sorta priceless&hellip;)
    {% endparagraph %}

    {% h3 %}
      How long are the talks?
    {% endh3 %}
    {% paragraph %}
      Each talk runs for 23 minutes. Speakers are allowed to use that time however they wish&mdash;you can even share a time slot with multiple people or set up a panel discussion, allowing time for Q&amp;A at the end. The last 7 minutes of every half-hour slot is reserved for transition time between talks.
    {% endparagraph %}

    {% h3 %}
      Can I give a sales presentation?
    {% endh3 %}
    {% paragraph %}
      Nope! To be respectful of our BarCamp community, sales presentations or pitches are not allowed. Don’t even try it, folks.
    {% endparagraph %}

    {% h3 %}
      When do I get my BarCamp t-shirt?
    {% endh3 %}
    {% paragraph %}
      Tees and friendship bracelets will be available on the day of BarCamp at the merch table. Though we try to purchase enough of each t-shirt size, we recommend picking your shirt up early in the morning just in case.
    {% endparagraph %}

    {% h3 %}
      What should I bring?
    {% endh3 %}
    {% paragraph %}
      Something to share with all of your new friends&hellip;a business card perhaps? We encourage you to bring a notebook for notes. If you&rsquo;ve planned a talk with presentation slides, bring your laptop or an external drive with your files. And bring all your friends, because BarCamp is all about friendship this year!
    {% endparagraph %}

    {% h3 %}
      What if I have a food allergy?
    {% endh3 %}
    {% paragraph %}
      No sweat! We make sure everyone is included. If you have specific food allergies or restrictions, contact Will at <a href="mailto:will@splitinfinities.com">will@splitinfinities.com</a> and we&rsquo;ll take care of you. Each year we work with our caterer to provide vegetarian, vegan and gluten free options.
    {% endparagraph %}
  </div>
{% endsection %}

<div class="bracelet-right"></div>

{% section "bg-tan" %}
  <div class="w-100 mw9 ph3 ph5-l tc">
    {% h2 %}
      Our Sponsors
    {% endh2 %}

    <div class="flex flex-wrap justify-center items-center f2 f-subheadline-m brown windsor lh-solid">
      {% for sponsor in collections.platinum %}
        {% assign level = "platinum" %}
        {% assign spacing = "mv2 ph2 ph4-l" %}
        {% include sponsor.liquid %}
      {% endfor %}
    </div>

    <div class="flex flex-wrap justify-center items-center f3 f1-m brown windsor lh-solid">
      {% for sponsor in collections.gold %}
        {% assign level = "gold" %}
        {% assign spacing = "mv2 ph2 ph4-l" %}
        {% include sponsor.liquid %}
      {% endfor %}
    </div>

    <div class="flex flex-wrap justify-center items-center f4 f2-m brown windsor lh-solid">
      {% for sponsor in collections.silver %}
        {% assign level = "silver" %}
        {% assign spacing = "mw5 mv2 ph2 ph3-l" %}
        {% include sponsor.liquid %}
      {% endfor %}
    </div>

    <div class="flex flex-wrap justify-center items-center f5 f3-m brown windsor lh-solid">
      {% for sponsor in collections.bronze %}
        {% assign level = "bronze" %}
        {% assign spacing = "mw5 mv2 ph2 ph3-l" %}
        {% include sponsor.liquid %}
      {% endfor %}
    </div>

    <div class="flex flex-wrap justify-center items-center mv2 f6 f5-m brown windsor lh-solid">
      {% for sponsor in collections.carbon %}
        {% assign level = "carbon" %}
        {% assign spacing = "mv2 ph2" %}
        {% include sponsor.liquid %}
      {% endfor %}
    </div>

    {% ctabutton "text": "Sponsor the Event", "href": "https://opencollective.com/barcamp-events/contribute", "newtab": "true" %}
  </div>
{% endsection %}
