<stellar-layout class="bg-light-tan relative" id="about" size="small" padding="large">
  <copy-wrap class="clearfix">
    <h2 class="f4 f3-m windsor lh-title">BarCamp Omaha isn’t one of those suit&#8209;and&#8209;tie networking conferences built by The&nbsp;Man.</h2>
    <p class="mw-100 brown lh-copy">Tune that bummer out, friend, because BarCamp Omaha is a “user&#8209;generated” conference where the speakers are everyday free spirits talking about what they think is groovy. Talks aren’t scheduled or planned until right before things kick off, and anyone &mdash; flower children, hunks, heck, even squares &mdash; can give a&nbsp;talk.</p>
    <p class="mw-100 mb4 brown lh-copy">Stoked, but feeling like taking the stage is a little too heavy? No sweat &mdash; don’t get uptight! Just come and hang&nbsp;loose.</p>
    <p class="mw-100 mb4 brown lh-copy">At BarCamp, you won’t find a predetermined speaker list or a line of suits passing out business cards. What you will find is a mop&#8209;top in a t&#8209;shirt talking about moonshine, a web developer talking about the best practices in SEO, or a world traveler sharing their far&#8209;out&nbsp;experiences.</p>
    <p class="mw-100 mb4 brown lh-copy">BarCamp is a chance to network, learn something fab, and share what makes you feel outta&nbsp;sight!</p>
    <stellar-button href="https://www.eventbrite.com/e/barcamp-omaha-2019-tickets-66366823957" target="_blank" padding="large" class="s-right-arrow fr">Buy Tickets</stellar-button>
  </copy-wrap>
</stellar-layout>
