<meta name="application-name" content="BarCamp Omaha"/>
<link rel="icon" href="/assets/images/favicons/favicon.ico" sizes="32x32">
<link rel="icon" href="/assets/images/favicons/favicon.png" type="image/svg+xml">
<link rel="apple-touch-icon" href="/assets/images/favicons/apple-touch-icon.png"><!-- 180×180 -->
<link rel="manifest" href="/assets/images/favicons/site.webmanifest">