<stellar-layout>
	<copy-wrap full>
		<p>IMPORTANT UPDATE: BarCamp Lincoln, originally scheduled for March 28, 2020, is now being postponed due to increasing concerns over the COVID-19 (Coronavirus) epidemic, including Nebraska’s first confirmed case in Omaha last week.</p>

		<p>After BarCamp organizers released a Twitter poll seeking community input, we determined that rescheduling the conference will best ensure the event is accessible, comfortable and safe for all attendees. According to the Center for Disease Control and Prevention (CDC), older adults, people with chronic and pre-existing conditions, and those who are immunocompromised are most at risk of COVID-19. While there aren’t yet any calls from health officials to cancel large gatherings in Nebraska, we hope that by postponing the event, folks of all ages and abilities can attend.
		</p>

		<p>BarCamp Lincoln is tentatively scheduled for mid-late May 2020. Stay tuned for updates on when the event date is confirmed. Guests who’ve already purchased tickets from Open Collective will be notified by BarCamp Events via email. You can choose to keep your ticket and attend the rescheduled conference, or opt-out and receive a full refund. We apologize in advance for any inconvenience this may cause.</p>

		<p>If you have questions or concerns about our decision to reschedule, please reach out to us at <a href="mailto:barcampevents@gmail.com">barcampevents@gmail.com</a>. For more information on COVID-19 prevention, visit the CDC website: <a href="https://www.cdc.gov/coronavirus/2019-ncov/summary.html">https://www.cdc.gov/coronavirus/2019-ncov/summary.html</a>. Take care, and care for each other.</p>
	</copy-wrap>
</stellar-layout>