<stellar-layout class="bg-theme-base1 dm-bg-theme-base7" id="about" size="small">
    <copy-wrap full>
        <h2 class="lh-title fw7 black dm-white theme-base9">{{en.event.intro.title}}</h2>
        {% for sentence in en.event.intro.content %}
            <p class="theme-base5 dm-theme-base2 mt0">{{sentence}}</p>
        {% endfor %}
    </copy-wrap>
</stellar-layout>