<stellar-layout>
	<copy-wrap full>
		<p>ACTUALIZACIÓN IMPORTANTE: BarCamp Lincoln, originalmente programada para el 28 de marzo de 2020, ahora se pospone debido a las crecientes preocupaciones sobre la epidemia de COVID-19 (Coronavirus), incluido el primer caso confirmado de Nebraska en Omaha la semana pasada.</p>

		<p>Después de que los organizadores de BarCamp publicaron una encuesta en Twitter en busca de aportes de la comunidad, determinamos que la reprogramación de la conferencia garantizará que el evento sea accesible, cómodo y seguro para todos los asistentes. Según el Centro para el Control y la Prevención de Enfermedades (CDC), los adultos mayores, las personas con afecciones crónicas y preexistentes y las personas inmunocomprometidas tienen un mayor riesgo de COVID-19. Si bien aún no hay llamadas de los funcionarios de salud para cancelar grandes reuniones en Nebraska, esperamos que al posponer el evento, puedan asistir personas de todas las edades y capacidades. </p>

		<p>BarCamp Lincoln está programado provisionalmente para mediados de finales de mayo de 2020. Estén atentos para recibir actualizaciones sobre cuándo se confirma la fecha del evento. BarCamp Events notificará a los invitados que ya compraron boletos de Open Collective por correo electrónico. Puede optar por conservar su boleto y asistir a la conferencia reprogramada, o darse de baja y recibir un reembolso completo. Nos disculpamos de antemano por cualquier inconveniente que esto pueda causar.</p>

		<p>Si tiene preguntas o inquietudes sobre nuestra decisión de reprogramar la cita, comuníquese con nosotros en<a href="mailto:barcampevents@gmail.com">barcampevents@gmail.com</a>. Para obtener más información sobre la prevención de COVID-19, visite el sitio web de los CDC:<a href="https://www.cdc.gov/coronavirus/2019-ncov/summary.html">https://www.cdc.gov/coronavirus/2019-ncov/summary.html</a>. Cuídate y cuídate el uno al otro.</p>
	</copy-wrap>
</stellar-layout>