<header class="sticky top-0 bottom-0 bg-theme-base0 dm-bg-theme-base8 db w-100 z-max ph4 bb b--theme-base1 dm-b--theme-base9">
    <stellar-layout padding="tiny" size="flush" style="--grid-gap: 1rem;">
        <div class="flex items-center justify-between w-100">
            <stellar-button class="order-0" href="{{es.event.tickets_link}}" padding="tiny" size="tiny">
                {{es.event.tickets_cta}}
            </stellar-button>
            <stellar-button class="order-0 order-2-ns order-2-m order-2-l" href="{{es.event.tickets_link}}"  padding="tiny" size="tiny">
                {{es.event.sponsor_cta}}
            </stellar-button>
        </div>
    </stellar-layout>
</header>