<!DOCTYPE html>
<html lang="en-US">

<head>
  {% include head %}
</head>

<body class="theme-indigo complement-gray relative" style="overflow-x: hidden;">
  <stellar-theme system body></stellar-theme>
  {{ content }}
</body>

</html>