{% macro sponsor(slug = "", sponsor_object = {}, level = "") %}
  <{% if sponsor_object.link %}a href="{{sponsor_object.link}}" target="_blank"{% else %}div{% endif %} class="sponsor sponsor--{{ level }} {% if level == "platinum" %} col-span-full{% endif %}{% if level == "gold" %} col-span-2{% endif %}">
    <section class="p-1 flex place-center" style="aspect-ratio: 3.5:1">
      {% if sponsor_object.image %}
        <img src="/assets/images/sponsors/{{sponsor_object.image}}" class="sponsor__image invert mix-blend-luminosity w-auto m-auto max-h-[100px]" alt="{{ sponsor_object.name }}">
      {% else %}
        <h5 class="text-base md:text-2xl text-white">{{ sponsor_object.name }}</h5>
      {% endif %}
    </section>
    <footer class="p-1">
      <p class="text-base md:text-2xl mt-4 text-[#ffdb91]">{{ sponsor_object.contribution | safe }}</p>
    </footer>
  </{% if sponsor_object.link %}a{% else %}div{% endif %}>
{% endmacro %} 