@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap');

html, html * {
	font-family: "Work Sans", var(--font-system);
}

footer.sticky {
	overflow-y: hidden;
	overflow-x: auto;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--theme-5);
	font-weight: 900;
}

a:hover,
a:focus {
	color: var(--theme-8);
}

.dark-mode a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-weight: 900;
}

.dark-mode a:hover,
.dark-mode a:focus {
	color: var(--theme-2);
}

midwest-layout {
	--large: 80rem !important;
	--medium: 70rem !important;
	--small: 50rem !important;
	--tiny: 40rem !important;
}

* {
	contain: initial !important;
}

copy-wrap[full] * {
	max-width: 100%;
}

midwest-card {
	--background: var(--theme-0);
	--border: 0 solid var(--theme-1)
}

midwest-card[dark] {
	--background: var(--theme-8);
	--border: 0 solid var(--theme-9);
}

html {
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;
	scroll-padding: 3rem !important;
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p {
	line-height: 1.4;
}

midwest-layout[id],
header {
  scroll-snap-align: start;
}

.layer-children {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.layer-children > * {
    grid-column: 1;
    grid-row: 1;
}

midwest-video[overlay]::after {
	mix-blend-mode: soft-light;
	background: linear-gradient(to right, var(--theme-7) 0%, var(--theme-5) 100%);
}

.dark-mode midwest-video[overlay]::after {
	mix-blend-mode: color;
	background: linear-gradient(to right, var(--theme-9) 0%, var(--theme-7) 100%)
}
	
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }