/*---------*/
/* Sponsor */
/*---------*/

.sponsor {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  transition: transform 0.2s ease;

  filter:
    // black to white
    invert(100%)
    // white to off-white
    sepia(100%)
    // off-white to yellow
    saturate(906%)
    // adjust to brand brown, or at least pretty damn close
    hue-rotate(302deg)
    brightness(44.5%);

  &--flywheel {
    height: 100px;
  }

  &--nebraskajs {
    width: 300px;
    max-width: 80%;
  }

  &--bergman-incentives {
    width: 300px;
  }

  &--bones-co {
    width: 300px;
  }

  &--lyconic {
    height: 50px;
  }

  &--water-bear-games {
    height: 60px;
  }
  
  a:hover &, a:focus & {
    // brand dark red, or pretty damn close
    filter: invert(40%) sepia(30%) saturate(10000%) hue-rotate(-20deg) brightness(0.9);
    transform: scale(1.1);
  }
}

@media (--breakpoint-medium) {
  .sponsor {
    &--flywheel {
      width: 500px;
      height: 150px;
    }

    &--bergman-incentives {
      width: 380px;
    }

    &--bones-co {
      width: 100%;
      height: 50px;
    }

    &--lyconic {
      height: 60px;
    }

    &--water-bear-games {
      height: 80px;
    }
  }
}

@media (--breakpoint-large) {
  .sponsor {
    &--nebraskajs {
      width: 350px;
    }
  }
}
