<stellar-layout class="bg-light-tan" id="faqs" size="small" padding="large">
  <copy-wrap>
    {% h2 %}
      FAQ&rsquo;s
    {% endh2 %}

    {% paragraph "f4-m" %}
      Got questions? We&rsquo;ve got answers!
    </p>

    <stellar-accordion style="--padding-underneath: 4rem;">
      <h6 class="windsor black pa0 ma0 fs7" slot="label">What am I paying $20 for?</h6>
      <p class="brown f6 lh-copy ma0 pa0 mw-100">
        Opening party / drink ticket, breakfast, soda & snacks, lunch, BarCamp t-shirt, friendship bracelet, good times / new friends (which is sorta priceless&hellip;)
      </p>
    </stellar-accordion>

    <stellar-accordion style="--padding-underneath: 4rem;">
      <h6 class="windsor black pa0 ma0 fs7" slot="label">How long are the talks?</h6>
      <p class="brown f6 lh-copy ma0 pa0 mw-100">
      Each talk runs for 23 minutes. Speakers are allowed to use that time however they wish&mdash;you can even share a time slot with multiple people or set up a panel discussion, allowing time for Q&amp;A at the end. The last 7 minutes of every half-hour slot is reserved for transition time between talks.
    </p>
    </stellar-accordion>

    <stellar-accordion style="--padding-underneath: 4rem;">
      <h6 class="windsor black pa0 ma0 fs7" slot="label">Can I give a sales presentation?</h6>
      <p class="brown f6 lh-copy ma0 pa0 mw-100">
        Nope! To be respectful of our BarCamp community, sales presentations or pitches are not allowed. Don’t even try it, folks.
      </p>
    </stellar-accordion>

    <stellar-accordion style="--padding-underneath: 4rem;">
      <h6 class="windsor black pa0 ma0 fs7" slot="label">When do I get my BarCamp t-shirt?</h6>
      <p class="brown f6 lh-copy ma0 pa0 mw-100">
        Tees and friendship bracelets will be available on the day of BarCamp at the merch table. Though we try to purchase enough of each t-shirt size, we recommend picking your shirt up early in the morning just in case.
      </p>
    </stellar-accordion>

    <stellar-accordion style="--padding-underneath: 4rem;">
      <h6 class="windsor black pa0 ma0 fs7" slot="label">What should I bring?</h6>
      <p class="brown f6 lh-copy ma0 pa0 mw-100">
        Something to share with all of your new friends&hellip;a business card perhaps? We encourage you to bring a notebook for notes. If you&rsquo;ve planned a talk with presentation slides, bring your laptop or an external drive with your files. And bring all your friends, because BarCamp is all about friendship this year!
      </p>
    </stellar-accordion>

    <stellar-accordion style="--padding-underneath: 4rem;">
      <h6 class="windsor black pa0 ma0 fs7" slot="label">What if I have a food allergy?</h6>
      <p class="brown f6 lh-copy ma0 pa0 mw-100">
        No sweat! We make sure everyone is included. If you have specific food allergies or restrictions, contact Will at <a href="mailto:will@splitinfinities.com">will@splitinfinities.com</a> and we&rsquo;ll take care of you. Each year we work with our caterer to provide vegetarian, vegan and gluten free options.
      </p>
    </stellar-accordion>

  </copy-wrap>
</stellar-layout>
