<header class="main-header flex flex-column items-center justify-center vh-50 vh-75-ns vh-100-l overflow-hidden">
  <div class="w-100 ph3 tc">
    <h1 class="fs-massive vacation dark-tan ttu ma0 relative z-1">
      <stellar-animate-text method="retro" phrase duration="700" only-in>BarCamp</stellar-animate-text>
    </h1>
    <h2 class="center mt4 mb2 f3 f2-ns f1-l windsor dark-tan relative z-2">
      <stellar-animate-text delay="2400" phrase>Hosted at KANEKO</stellar-animate-text>
    </h2>
    <h3 class="center mv2 f5 f4-ns f3-l windsor dark-tan relative z-2">
      <stellar-animate-text delay="2800" phrase>Saturday, November 9th, 2019</stellar-animate-text>
    </h3>
    <h3 class="center ma0 f5 f4-ns f3-l windsor dark-tan relative z-2">
      <stellar-animate-text delay="3200" phrase>8AM &ndash; 5PM</stellar-animate-text>
    </h3>
  </div>
  <web-audio-visualizer for="numbers" type="bars" size="32" class="absolute bottom-0 left-0 right-0 w-100 h-100" style="mix-blend-mode: multiply; width: 97%;clip-path: polygon(3% 0, 100% 0, 100% 100%, 3% 100%);" ></web-audio-visualizer>
</header>
