<stellar-layout class="bg-light-tan relative" id="about" size="small" padding="large">
  <copy-wrap class="clearfix">
    <h2 class="windsor">BarCamp is an Unconference</h2>
    <p class="mw-100 brown lh-copy">BarCamp Omaha is a user generated conference where the speakers are everyday folks talking about what interests them. Talks aren&rsquo;t scheduled or planned until just before the conference starts, and anyone can give a talk. Curious, but don&rsquo;t want to take the stage? That&rsquo;s okay, too.</p>
    <p class="mw-100 mb4 brown lh-copy">At BarCamp, you won&rsquo;t find a predetermined speaker list or a line of suits passing out business cards. What you will find is some shaggy dude in a t-shirt talking about moonshine, a web developer talking about the best practices in SEO, or a world traveler sharing their experiences. BarCamp is a chance to network, learn something new, and share what awakens your curiosity. Come one, come all.</p>
    <stellar-button href="https://www.eventbrite.com/e/barcamp-omaha-2019-tickets-66366823957" target="_blank" padding="large" class="s-right-arrow fr" style="--padding: 1rem 2rem 1rem 1rem">Buy Tickets</stellar-button>
  </copy-wrap>
</stellar-layout>
