<stellar-button tag="button" class="vacation fs1 fixed bottom-1 right-1 dark-tan" size="large" ghost onclick="toggleMusic()" style="mix-blend-mode: difference;z-index: 9999;--font-size: 4rem;">11
<stellar-tooltip align="top-right"><p class="fs8 lh-copy">Toggle Music</p></stellar-tooltip>
</stellar-button>
