<stellar-button tag="button" class="musicToggle vacation fs1 fixed bottom-1 right-1 dark-tan" size="large" ghost onclick="toggleMusic()">11
<stellar-tooltip align="top-right"><p class="fs8 lh-copy">Toggle Music</p></stellar-tooltip>
</stellar-button>
