<footer class="sticky bottom-0 top-0 bg-theme-base0 dm-bg-theme-base8 db w-100 z-2 ph4 bb b--theme-base1 dm-b--theme-base9">
    <stellar-layout padding="none" size="flush">
        <div class="flex flex-column flex-row-ns flex-row-m flex-row-l items-center justify-between w-100">
            <stellar-button class="order-0" href="" padding="small">{{en.event.tickets_cta}}</stellar-button>
            <div class="order-1">
                <stellar-tabs block class="bg-transparent bn mh3" flip-indicator invert pay-attention>
                    <stellar-tab class="ttu fw7 fs7 tracked" href="#about" tag="link">About</stellar-tab>
                    <stellar-tab class="ttu fw7 fs7 tracked" href="#venue" tag="link">Venue</stellar-tab>
                    <stellar-tab class="ttu fw7 fs7 tracked" href="#tracks" tag="link">Tracks</stellar-tab>
                    <stellar-tab class="ttu fw7 fs7 tracked" href="#agenda" tag="link">Agenda</stellar-tab>
                    <stellar-tab class="ttu fw7 fs7 tracked" href="#faqs" tag="link">FAQ's</stellar-tab>
                    <stellar-tab class="ttu fw7 fs7 tracked" href="#sponsors" tag="link">Sponsors</stellar-tab>
                </stellar-tabs>
            </div>
            <stellar-button class="order-0 order-2-ns order-2-m order-2-l" href="" padding="small">{{en.event.sponsor_cta}}</stellar-button>
        </div>
    </stellar-layout>
</footer>