<!DOCTYPE html>
<html lang="es">

<head>
  {% include es/head %}
</head>

<body class="theme-orange complement-indigo relative" style="overflow-x: hidden;">
  <stellar-theme system body base="orange" complement="indigo"></stellar-theme>
  {{ content }}
</body>

</html>