/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.9em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 100;
  font-family: var(--font); font-weight: 200; font-style: normal;
  color: #fff;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

.blue {
  background-color: #1847ed;
}



/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 200;

  a {
    color: inherit;
  }
}

/* Small */
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: .05rem;}
h2 { font-size: 2rem;   line-height: 1.25; letter-spacing: .3rem; font-family: var(--font); font-weight: 900; font-style: normal; text-transform: uppercase; text-align: center;}
h3 { font-size: 1.2rem; line-height: 1.3;  letter-spacing: .4rem; font-family: var(--font); font-weight: 800; font-style: normal; text-transform: uppercase; }
h4 { font-size: 1.5rem; line-height: 1.5;  letter-spacing: .04rem; padding-bottom: 30px }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: .025rem; }
h6 { font-size: 1.25rem;line-height: 1.5;  letter-spacing: .1rem; font-weight: 900; text-transform: uppercase; padding: 15px 0 0 0}
p  { font-size: .75em;  line-height: 2;    letter-spacing: .07rem; margin: 0; font-family: var(--font); font-weight: 200; font-style: normal;}



/* Large */
@media (min-width: 600px) {
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: .05rem;}
h2 { font-size: 4.5rem; line-height: 1.25; letter-spacing: .3rem; font-family: var(--font); font-weight: 900; font-style: normal; text-transform: uppercase; text-align: center;}
h3 { font-size: 2rem;   line-height: 1.3;  letter-spacing: .4rem; font-family: var(--font); font-weight: 800; text-transform: uppercase; }
h4 { font-size: 2.1rem; line-height: 1.5;  letter-spacing: .04rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: .025rem; }
p  { font-size: .85em;  line-height: 2;    letter-spacing: .07rem; }
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1847ed;
  transition: 0.4s;
  text-decoration: none;
  }

a:hover {
  color: #0303ca;
  transition: 0.4s;
}
}
