.welcome h2, .sponsors h2 {
  text-align: center;
}

.columns-2 {
  padding-top: 40px;
  max-width: 900px;
  -webkit-columns: 2 300px;
  -moz-columns: 2 300px;
  columns: 2 300px;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  margin: 0 auto;
  text-align: left;
}

.speak {
  text-align: center;
  padding-bottom: 10px;
}

.block-inner h2 {
  max-width: 800px;
  margin: 0 auto;
}


@media (min-width: 700px) {
.speak {
  text-align: center;
  padding-bottom: 180px;
}
}
