<section class="section section--padded">
  <h2 class="h1 glitter-text text-align-center mb-0">{{ en.event.agenda.title }}</h2>
  <p class="text-align-center mt-0">{{ en.event.agenda.description }}</p>

  <div class="agenda-table mt-4">
    {% for day in en.event.agenda.days %}
      <h3 class="agenda-table__headline three-d-text h2 mt-0 mb-2">{{ day.date | safe }}</h3>
      {% for event in day.events %}
        <h4 class="agenda-table__time yellow-text dancy-text m-0 mt-1-lg">{{ event.time }}</h4>
        <h5 class="agenda-table__subheader h4">{{ event.title }}</h5>
        <p class="agenda-table__description">{{ event.description | safe }}</p>
        {% if not loop.last %}<hr class="agenda-table__divider">{% endif %}
      {% endfor %}
      {% if not loop.last %}<hr class="agenda-table__divider thick-hr">{% endif %}
    {% endfor %}
  </div>
</section>
