<footer class="section section--padded text-align-center">
  <h2 class="h1 three-d-text dancy-text mb-0 tight-line-height">Thanks!</h2>
  <p class="h3 mt-0 mb-4 tight-line-height"><em>Thanks for visiting!</em></p>
  <p>You are person # <b class="js-fake-counter">1000</b> to visit our website!</p>
</footer>
