<footer class="sticky top-0 bottom-0 bg-theme-0 dm:bg-theme-8 db w-100 z-999 bt border-theme-1 dm:border-theme-9">
    <midwest-layout padding="none" size="flush" style="--grid-gap: 0;">
        <midwest-tabs block class="bg-transparent bn" flip-indicator invert pay-attention style="--justify-content: start">
            <midwest-tab class="text-uppercase fw7 tracked" href="#about" tag="link">{{en.event.about.title | lower | replace("the", "")}}</midwest-tab>
            <midwest-tab class="text-uppercase fw7 tracked" href="#venue" tag="link">{{en.event.venue.title | lower | replace("the", "")}}</midwest-tab>
            <midwest-tab class="text-uppercase fw7 tracked" href="#tracks" tag="link">{{en.event.tracks.title | lower | replace("the", "")}}</midwest-tab>
            <midwest-tab class="text-uppercase fw7 tracked" href="#agenda" tag="link">{{en.event.agenda.title | lower | replace("the", "")}}</midwest-tab>
            <midwest-tab class="text-uppercase fw7 tracked" href="#faqs" tag="link">{{en.event.faqs.title | lower | replace("the", "")}}</midwest-tab>
            <midwest-tab class="text-uppercase fw7 tracked" href="#sponsors" tag="link">{{en.event.sponsors.title | lower | replace("the", "")}}</midwest-tab>
        </midwest-tabs>
    </midwest-layout>
</footer>