<header class="hero">
  <img class="hero__logo" src="/assets/images/logo.svg">
  <div class="hero__content mt-4 text-align-center">
    <p class="hero__tagline">Saturday, August 20th, 2022</p>
    <p class="hero__tagline">WP Engine in Downtown Omaha</p>
  </div>
</header>
