<section class="section section--padded">
  <h2 class="h1 glitter-text text-align-center">{{ en.event.intro.title }}</h2>
  {% for paragraph in en.event.intro.content %}
    <p>{{ paragraph }}</p>
  {% endfor %}
</section>
