<nav class="flex justify-center p-2" style="gap: 1rem; position: sticky; top: 0; background: black; z-index: 2;">
  <a href="https://opencollective.com/barcamp-omaha/events/barcamp-omaha-2022-location-tbd-6df56ef2/order/41550" target="_blank" rel="noopener">Buy your ticket</a>
  <a href="https://opencollective.com/barcamp-omaha/events/barcamp-omaha-2022-location-tbd-6df56ef2#section-contribute" target="_blank" rel="noopener">Sponsor us!</a>
</nav>