{%- from "../macros/sponsor.njk" import sponsor -%}

<section class="section section--padded text-align-center">
  <h2 class="h1 glitter-text mb-0">{{ en.event.sponsors.title }}</h2>
  <p class="mt-0 mb-6">{{ en.event.sponsors.description }}</p>

  {% for tier in en.event.sponsors.tiers %}
    {% set slug = tier.title | lower %}
    <h3 class="h2 shiny-text shiny-text--{{ slug }} max-width max-width--small text-align-center mb-0">
      {{ tier.title }}
    </h3>

    {% if en.sponsors[slug] %}
      <div class="sponsors mb-6">
        {% for sponsor_slug, sponsor_object in en.sponsors[slug] %}
          {% call sponsor(sponsor_slug, sponsor_object, slug, "mv2 px-2 px-4-l") %}{% endcall %}
        {% endfor %}
      </div>
    {% else %}
      <p class="mt-0 mb-6">{{ en.event.sponsors.fallback_copy | replace("{tier_level}", tier.title) | safe }}</p>
    {% endif %}
  {% endfor %}
</section>
