<section class="section section--padded text-align-center">
  <h2 class="h1 glitter-text mb-0">{{ en.event.sponsors.title }}</h2>
  <p class="mt-0">{{ en.event.sponsors.description }}</p>

  {% for tier in en.event.sponsors.tiers %}
    <h3 class="h2 shiny-text shiny-text--{{ tier.title | lower }} max-width max-width--small text-align-center mb-0">
      {{ tier.title }}
    </h3>
    <p class="mt-0">{{ en.event.sponsors.fallback_copy | replace("{tier_level}", tier.title) | safe }}</p>
  {% endfor %}
</section>
