/* =========================================================================
   Layer Children
   ========================================================================= */

.layer-children {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.layer-children > * {
  grid-column: 1;
  grid-row: 1;
}
