---
layout: layouts/default.njk
title: BarCamp Omaha 2022
sections:
  - hero
  - nav
  - intro
  - venue
  - tracks
  - agenda
  - faq
  - sponsors
  - footer
---

{% for section in sections %}
  {% include "en/" + section + ".njk" %}
  {% if section not in ['hero', 'nav', 'footer'] %}<div class="rainbow-divider"></div>{% endif %}
{% endfor %}
