/*--------*/
/* Colors */
/*--------*/

$additional-colors: (
  brown: var(--brown),
  dark-tan: var(--dark-tan),
  tan: var(--tan),
  light-tan: var(--light-tan)
);

// Make tachyon-like classes out of our additional colors
@each $label, $color in $additional-colors {
  .b--#{$label} {
    border-color: $color;
  }

  .bg-#{$label} {
    background-color: $color;
  }

  .#{$label} {
    color: $color;
  }
  
  .hover-#{$label} {
    &:hover, &:focus {
      background-color: $color;
    }
  }
}