<!DOCTYPE html>
<html lang="en">

<head>
  {% include en/head %}
</head>

<body class="theme-indigo complement-red relative" style="overflow-x: hidden;">
  <stellar-theme system body></stellar-theme>
  {{ content }}
</body>

</html>