<header class="bg-theme-1 dm:bg-theme-9">
    <midwest-layout class="layer-children" padding="none" size="flush">
        <p class="absolute top-2 right-2 z-5">
            <a href="/es/index.html" lang="es" title="Spanish">Español</a>
        </p>
        <copy-wrap align="center" class="py-24 m- p-0 order-0 relative z-10 h-full invert">
            <h1 class="text-white dm:text-white text-uppercase fw7">
                {{en.event.title}}
            </h1>
            <h4 class="text-theme-7 dm:text-theme-2 fw5 mt-3">
                {{en.event.venue.hosted}}
                {{en.event.venue.name}}
            </h4>
            <h6 class="text-theme-5 dm:text-theme-5">
                <midwest-time value="{{en.event.date}}" format="DD/MM/YYYY"></midwest-time> {{en.event.time}}
            </h6>
        </copy-wrap>
        <midwest-video autoplay mute class="order-1 h-full m- p-0" controls="false" loop overlay playsinline width="1920" height="1080" style="--object-fit: cover;">
            <source src="/assets/video/hero.mp4" />
        </midwest-video>
    </midwest-layout>
</header>