<a href="https://tidy.events/events/barcamp-omaha-2026" target="_blank" rel="noopener" class="block bg-dark-paper text-center p-8 text-base md:text-2xl text-[#ffdb91] font-dreamboat underline decoration-[#6f4a00] decoration-dashed underline-offset-4 decoration-from-font hover:text-white">
  Tickets + sponsorship for 2026 available now!
</a>
