{% macro sponsor(slug = "", sponsor_object = {}, level = "", spacing = "") %}
  <midwest-card {% if sponsor.link %} tag="a" href="{{sponsor_object.link}}" target="_blank" {%endif%} padding="tiny">
      {% if not sponsor_object.image and not sponsor_object.representative["include"] %}
          <header>
              <h5 class="tc dm:white m- p-0 mw-100 fw7">{{ sponsor_object.name }}</h5>
          </header>
      {% endif %}

      {% if sponsor_object.representative %}
          <section class="flush z-0 layer-children relative p-0">
              <midwest-image bg="var(--theme-7)" height="900" nozoom style="mix-blend-mode: hard-light;" width="1600">
                <source srcset="/assets/images/representatives/{{slug}}.jpg"/>
              </midwest-image>
              {% if sponsor_object.image %}
                  <ion-icon src="/assets/images/sponsors/{{slug}}.svg" class="absolute top-1 z-999 h-auto right-1 db w-1/3 text-theme-5 dm:text-theme-0 bg-white dm:bg-theme-8 p-2"></ion-icon>
              {% else %}
                  <h5 class="absolute top-1 z-999 h-auto right-1 block fs7 fw9 lh-solid p-0 text-theme-5 dm:text-theme-0 bg-white dm:bg-theme-8 p-2">{{ sponsor_object.name }}</h5>
              {% endif %}
          </section>
          <footer>
              <p class="w-100 text-theme-9 dm:text-theme-2 tc f7 fw7 mw-100">{{sponsor_object.name}} {{ sponsor_object.contribution }}</p>
              <p class="w-100 text-theme-7 dm:text-theme-0 tc f7 mw-100">{{en.event.sponsor_object.representative_format | replace("{0}", sponsor_object.representative.name)}}</p>
          </footer>
      {% else %}
          <section class="p-4 relative">
              <ion-icon src="/assets/images/sponsors/{{slug}}.svg" class="block w-1/3"></ion-icon>
          </section>
          <footer>
              <p class="w-100 text-theme-5 dm:text-theme-0 tc f7 mw-100">{{sponsor_object.name}} {{ sponsor_object.contribution }}</p>
          </footer>
      {% endif %}
  </midwest-card>
{% endmacro %}