<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="BarCamp Events team">
<meta name="description" content="BarCamp is a user generated conference where the speakers are everyday folks, talking about what makes them excited.">

<meta property="og:image" content="https://barcampomaha.org/assets/images/social.jpg">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="BarCamp is a user generated conference where the speakers are everyday folks, talking about what makes them excited.">

<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="./assets/js/@stellar-design/core/dist/stellar-core/stellar-core.css" />
<link rel="stylesheet" href="/assets/css/main.min.css" type="text/css" media="all">
<script type="module" src="./assets/js/@stellar-design/core/dist/stellar-core/stellar-core.esm.js"></script>
<script nomodule="" src="./assets/js/@stellar-design/core/dist/stellar-core/stellar-core.js"></script>
{% include favicons.liquid %}
