<stellar-card padding="none">
  <header class="pa0 relative overflow-hidden track--{{ track.fileSlug }}">
    <img src="https://placehold.it/1600x800/f7f0e7/323232?text=+" class="db o-0" />
    <h3 class="ma0 pa0 windsor f4 f3-l absolute bottom-1 left-1 z-4 light-tan"><stellar-animate-text method="jump">{{ track.data.name }}</stellar-animate-text></h3>
  </header>
  <section class="pa3">
    <p class="f7 lh-copy mw-100">{{ track.templateContent }}</p>
  </section>
</stellar-card>